	$color-h2-content: #464646;
	$color-l-g: linear-gradient(to top, #7cb662, #92d774);
	$color-h-top: #424242;
	$color-border-f: #545050; 
	$bg-footer-1: #464548;
	$bg-footer-2: #272a2a;
	$color-foot-text: #dddddd;
