h2{
	color: #6b6969;
	font-size: 24px;
	padding-top: 12px;
	padding-left: 17px;
	font-weight: 700;

}
.sidebar-categories{
	margin-top: 24px;
	width: 100%;
	p{
		color: #555454;
		font-size: 15px;
		padding-left: 17px;
	}
	.menu-categories{
		@include display-position;
		margin-top: 14px;
		.menu-categories-item{
			@include display-position;
			width: 100%;
			margin-bottom: 12px;
			h3{
				color: #696969;
				font-size: 17px;
				padding-bottom: 10px;
				padding-left: 20px;
				font-weight: 700;
			}
			.categories-list{
				@include display-position;
				width: 100%;

				li{
					@include display-position;
					height: 26px;
					width: 100%;
					a{
						color: #555454;
						font-size: 15px;
						display: inline-block;
						margin-top: 5px;
						margin-left: 24px;
						padding-bottom: 6px;
						width: 139px;
						border-bottom: 1px solid #e6e7e8;

					}
					&:hover{
						background: $color-l-g;
						a{
							color: #ffffff;
							border-bottom: none;
						}
					}
				}	
			}
		}
	}
}